In [2]:
import numpy as np
import pandas as pd

In [3]:
random = np.random.rand(10)
random

array([0.6360041 , 0.39442195, 0.40968786, 0.02274394, 0.37644526,
       0.17269069, 0.13767126, 0.86114065, 0.24385804, 0.50227033])

In [4]:
dataSet = pd.DataFrame(random)
dataSet

          0
0  0.636004
1  0.394422
2  0.409688
3  0.022744
4  0.376445
5  0.172691
6  0.137671
7  0.861141
8  0.243858
9  0.502270